EDA in Pandas

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv(r"C:\Users\USER\Documents\Pandas Tutorial\world_population.csv")
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [11]:
pd.set_option('display.float_format', lambda x: '%2f' % x)
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.000000,38972230.000000,33753499.000000,28189672.000000,19542982.000000,10694796.000000,12486631.000000,10752971.000000,652230.000000,63.058700,1.025700,0.520000
1,138,ALB,Albania,Tirana,Europe,2842321.000000,2866849.000000,2882481.000000,2913399.000000,3182021.000000,3295066.000000,2941651.000000,2324731.000000,28748.000000,98.870200,0.995700,0.040000
2,34,DZA,Algeria,Algiers,Africa,44903225.000000,43451666.000000,39543154.000000,35856344.000000,30774621.000000,25518074.000000,18739378.000000,13795915.000000,2381741.000000,18.853100,1.016400,0.560000
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.000000,46189.000000,51368.000000,54849.000000,58230.000000,47818.000000,32886.000000,27075.000000,199.000000,222.477400,0.983100,0.000000
4,203,AND,Andorra,Andorra la Vella,Europe,79824.000000,77700.000000,71746.000000,71519.000000,66097.000000,53569.000000,35611.000000,19860.000000,468.000000,170.564100,1.010000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.000000,11655.000000,12182.000000,13142.000000,14723.000000,13454.000000,11315.000000,9377.000000,142.000000,81.493000,0.995300,0.000000
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.000000,556048.000000,491824.000000,413296.000000,270375.000000,178529.000000,116775.000000,76371.000000,266000.000000,2.165400,1.018400,0.010000
231,46,YEM,Yemen,Sanaa,Asia,33696614.000000,32284046.000000,28516545.000000,24743946.000000,18628700.000000,13375121.000000,9204938.000000,6843607.000000,527968.000000,63.823200,1.021700,0.420000
232,63,ZMB,Zambia,Lusaka,Africa,20017675.000000,18927715.000000,NaN,13792086.000000,9891136.000000,7686401.000000,5720438.000000,4281671.000000,752612.000000,26.597600,1.028000,0.250000
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.000000,15669666.000000,14154937.000000,12839771.000000,11834676.000000,10113893.000000,7049926.000000,5202918.000000,390757.000000,41.766500,1.020400,0.200000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country                      234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              230 non-null    float64
 6   2020 Population              233 non-null    float64
 7   2015 Population              230 non-null    float64
 8   2010 Population              227 non-null    float64
 9   2000 Population              227 non-null    float64
 10  1990 Population              229 non-null    float64
 11  1980 Population              229 non-null    float64
 12  1970 Population              230 non-null    float64
 13  Area (km²)                   232 non-null    float64
 14  Density (per km²)            230 non-null    float64
 15  Growth Rate                  232 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(12), int64(1), object(4)
memory usage: 31.2+ KB

In [14]:
df.describe()

,Rank,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
count,234.000000,230.000000,233.000000,230.000000,227.000000,227.000000,229.000000,229.000000,230.000000,232.000000,230.000000,232.000000,234.000000
mean,117.500000,34632250.878261,33600710.952790,32066004.156522,30270164.475771,26840495.255507,19330463.930131,16282884.781659,15866499.126087,581663.745690,456.811652,1.009553,0.427051
std,67.694165,137889172.436962,135873196.611160,131507146.335386,126074183.542821,113352454.572145,81309624.959473,69345465.539907,68355859.752236,1769133.063269,2083.740364,0.013390,1.714977
min,1.000000,510.000000,520.000000,564.000000,596.000000,651.000000,700.000000,733.000000,752.000000,1.000000,0.026100,0.912000,0.000000
25%,59.250000,419738.500000,406471.000000,394295.000000,382726.500000,329470.000000,261928.000000,223752.000000,145880.500000,2567.250000,36.598125,1.001925,0.010000
50%,117.500000,5762857.000000,5456681.000000,5244415.000000,4889741.000000,4491202.000000,3785847.000000,3135123.000000,2511718.000000,77141.000000,95.346750,1.007900,0.070000
75%,175.750000,22653719.000000,21522626.000000,19730853.750000,16825852.500000,15625467.000000,11882762.000000,9817257.000000,8817329.000000,414643.250000,236.884000,1.016650,0.280000
max,234.000000,1425887337.000000,1424929781.000000,1393715448.000000,1348191368.000000,1264099069.000000,1153704252.000000,982372466.000000,822534450.000000,17098242.000000,23172.266700,1.069100,17.880000

In [15]:
df.isnull().sum()

Rank                           0
CCA3                           0
Country                        0
Capital                        0
Continent                      0
2022 Population                4
2020 Population                1
2015 Population                4
2010 Population                7
2000 Population                7
1990 Population                5
1980 Population                5
1970 Population                4
Area (km²)                     2
Density (per km²)              4
Growth Rate                    2
World Population Percentage    0
dtype: int64

In [16]:
df.nunique()

Rank                           234
CCA3                           234
Country                        234
Capital                        234
Continent                        6
2022 Population                230
2020 Population                233
2015 Population                230
2010 Population                227
2000 Population                227
1990 Population                229
1980 Population                229
1970 Population                230
Area (km²)                     231
Density (per km²)              230
Growth Rate                    178
World Population Percentage     70
dtype: int64

In [19]:
#Largest countries

df.sort_values(by="2022 Population", ascending=False).head(10)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
41,1,CHN,China,Beijing,Asia,1425887337.000000,1424929781.000000,1393715448.000000,1348191368.000000,1264099069.000000,1153704252.000000,982372466.000000,822534450.000000,9706961.000000,146.893300,1.000000,17.880000
92,2,IND,India,New Delhi,Asia,1417173173.000000,1396387127.000000,1322866505.000000,1240613620.000000,1059633675.000000,NaN,NaN,557501301.000000,3287590.000000,431.067500,1.006800,17.770000
221,3,USA,United States,"Washington, D.C.",North America,338289857.000000,335942003.000000,324607776.000000,311182845.000000,282398554.000000,248083732.000000,223140018.000000,200328340.000000,9372610.000000,36.093500,1.003800,4.240000
93,4,IDN,Indonesia,Jakarta,Asia,275501339.000000,271857970.000000,259091970.000000,244016173.000000,214072421.000000,182159874.000000,148177096.000000,115228394.000000,1904569.000000,144.652900,1.006400,3.450000
156,5,PAK,Pakistan,Islamabad,Asia,235824862.000000,227196741.000000,210969298.000000,194454498.000000,154369924.000000,115414069.000000,80624057.000000,59290872.000000,881912.000000,267.401800,1.019100,2.960000
149,6,NGA,Nigeria,Abuja,Africa,218541212.000000,208327405.000000,183995785.000000,160952853.000000,122851984.000000,95214257.000000,72951439.000000,55569264.000000,923768.000000,236.575900,1.024100,2.740000
27,7,BRA,Brazil,Brasilia,South America,215313498.000000,213196304.000000,205188205.000000,196353492.000000,175873720.000000,150706446.000000,122288383.000000,96369875.000000,8515767.000000,25.284100,1.004600,2.700000
16,8,BGD,Bangladesh,Dhaka,Asia,171186372.000000,167420951.000000,157830000.000000,148391139.000000,129193327.000000,107147651.000000,83929765.000000,67541860.000000,147570.000000,1160.035000,1.010800,2.150000
171,9,RUS,Russia,Moscow,Europe,144713314.000000,145617329.000000,144668389.000000,143242599.000000,146844839.000000,148005704.000000,138257420.000000,130093010.000000,17098242.000000,8.463600,0.997300,1.810000
131,10,MEX,Mexico,Mexico City,North America,127504125.000000,125998302.000000,120149897.000000,112532401.000000,97873442.000000,81720428.000000,67705186.000000,50289306.000000,1964375.000000,64.908200,1.006300,1.600000

   #group on continent growth rate

In [ ]:
df.groupby('Continent').mean().sort_values(by="2022 Population", ascending=False)